*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(244, 244, 246);
    padding-top: 100px;
}
img{
    width: 16vw;
    height: 20vh;
    margin-left: 800px;
    margin-top: -140px;
}
.item{
    width: 23vw;
    height: 63vh;
    margin: -60px auto;
    background-color: white;
    border-radius: 7px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: -40px;
    padding-top: 10px;
}
h2{
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
}
#p4{
    text-align: center;
    margin-left: 150px;
    font-family: sans-serif;
    margin-top: 6px;
    font-size: 15px;
    color: gray;
}
hr{
    margin: 15px auto;
    border: 1px solid gainsboro;
}
input{
    width: 10.5vw;
    margin-left: 13px;
    padding: 12px;
    border-radius: 7px;
    border: 1px solid lightgray;
    font-size: 15px;
    color: lightgray;
}
li{
    list-style-type: none;
    font-size: 13px;
    font-family: sans-serif;
    color: gray;
    margin-left: 13px;
}
.birthday{
    width: 23vw;
    height: 7.5vh;
    margin-top: 13px;
}
.gender{
    width: 23vw;
    height: 7.5vh;
    font-family: sans-serif;
}
#date{
    margin-left: 13px;
    width: 6.5vw;
    padding: 8px;
    margin-top: 7px;
    border-radius: 7px;
    border: 1px solid lightgray;
    font-size: 15px;
}
.item3{
    width: 6.5vw;
    height: 4vh;
    background-color: white;
    margin-left: 13px;
    margin-top: 5px;
    border-radius: 5px;
    padding-top: 5px;
    border: 1px solid lightgrey;
}
.item4{
    width: 6vw;
    height: 2vh;
    margin-left: 10px;
    margin-top: 5px;
}
p{
    display: inline;
}
#female{
    display: inline;
    width: 2vw;
}
.item5{
    width: 6vw;
    height: 4vh;
    background-color: white;
    margin-left: 115%;
    margin-top: -28.5px;
    border-radius: 5px;
    padding-top: 5px;
    border: 1px solid lightgrey;
}
.item6{
    width: 6vw;
    height: 2vh;
    margin-top: 5px;
    padding-left: 10px;
}
#male{
    display: inline;
    width: 2vw;
    margin-left: 20px;
}
.item7{
    width: 6vw;
    height: 4vh;
    background-color: white;
    margin-left: 230%;
    margin-top: -38px;
    border-radius: 5px;
    padding-top: 5px;
    border: 1px solid lightgrey;
}
.item8{
    width: 9vw;
    height: 2vh;
    margin-top: 5px;
    padding-left: 8px; 
}
#custom{
    display: inline;
    width: 2vw;
    margin-right: -50px;
}
.number{
    width: 23vw;
    height: 11vh;
    margin-top: 10px;
}
#email{
    width: 21.5vw;
    margin-left: 12px;
    border-radius: 5px;
}
#password{
    width: 21.5vw;
    margin-left: 12px;
    border-radius: 5px;
    margin-top: 10px;
}
.text{
    width: 21.5vw;
    height: 10vh;
    margin: 0 auto;
}
#p7{
    font-size: 12px;
}
#p8{
    font-size: 12px;
}
#button3{
    width: 10vw;
    padding: 10px;
    border: none;
    background-color: rgb(2, 165, 2);
    color: white;
    margin-left: 120px;
    font-size: 19px;
    font-weight: bold;
    border-radius: 7px;
    margin-top: 10px;
}
#a{
    margin-left: 122px;
    text-decoration: none;
    color: rgb(67, 67, 255);
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}